.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* INIZIA L'ESERCIZIOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */

/* dato che row ha larghezza fissa a 992px, l'adatto dandole una width al 100% */
@media screen and (max-width: 420px) {
  .row {
    width: 100%;
  }
}

/* parto dal primo blocco, le lezioni */
@media screen and (max-width: 420px) {
  #lezioni .row>.left,
  #lezioni .row>.right {
    float: none; /*tolgo il float ai div left e right dentro a row e li faccio andare a capo*/
    width: 100%;  /*faccio occupare tutto lo spazio disponibile ai div left e right */
  }
}

/* faccio esattamente la stessa cosa per i div left central e right della sezione steps */
@media screen and (max-width: 420px) {
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
  }
}

/* il blocco why già a posto dato che sono in verticale i 3 div first second e third */

/* tolgo i 30 px di padding dall'immagine nei why per centrarele  meglio */
@media screen and (max-width: 420px) {
  #why .row img {
    padding: 0px;
  }
}



/* fine esercizio normale */


/* bonus: dalle slide si vede che l'ipad ha 768px di larghezza se tenuto verticalmente, quindi teniamolo come limite massimo teorico per l'esercizio */

@media screen and (min-width: 421px) and (max-width: 768px) {
  .row {
    width: 100%;
  }
}

@media screen and (min-width: 421px) and (max-width: 768px) {
  #lezioni .row>.left,
  #lezioni .row>.right {
    float: none;
    width: 100%;
  }
}


@media screen and (min-width: 421px) and (max-width: 768px) {
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
  }
}


/* in conclusione, bastava ampliare la width d'interesse estendendo i selettori css nuovi dell'esercizio normale ad una larghezza di 768px */

/* per visualizzare correttamente da 769px fino a 1024px di larghezza (1024 larghezza tablet da orizzontale) vanno inseriti altri selettori css media. oltre i 1024 non serve fare altro  */

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .row {
    width: 100%;
  }
}

/* nel blocco delle lezioni vedo che ci sono due div che con circa 800px di larghezza stanno a fianco bene senza necessità di andare a capo quindi non intervengo sul css base*/


/* nel blocco degli steps vedo che per lo meno left e central possono stare a fianco facendo andare a capo solamente right */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #steps .row>.central {
    float: none;
    width: 100%;
  }
}
